#shop-main{
    padding-top: 2850px;
}

.description{
    margin-top: 0px;
    border-left: 6px solid #ccc;
    clear: both;
    text-align: left;
    padding: 5px 15px;
}


.quick-cart-btn {
  position: absolute;
  left: 50%;
  bottom: 65px;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: #b31f2a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 3;
}

.pro:hover .quick-cart-btn {
  opacity: 1;
}

.quick-cart-btn:hover {
  background: #e10000;
}

/* nếu muốn ẩn overlay cũ
.ovrs {
  display: none;
} */
